/* General styling for the container */
.background-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F2E8DC; /* Beige Background */
}

.blurred {
  backdrop-filter: blur(8px);
}

/* Card styling */
.card {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  background-color: #FFFFFF; /* White */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-title {
  color: #232606; /* Deep Green */
}

.form-control {
  border-radius: 15px;
  border-color: #232606; /* Deep Green */
}

.btn-primary {
  border-radius: 15px;
  background-color: #232606; /* Deep Green */
  border-color: #232606; /* Deep Green */
}

.btn-primary:hover {
  background-color: #8C7569; /* Muted Brown */
  border-color: #8C7569; /* Muted Brown */
}

.btn-secondary {
  border-radius: 15px;
  background-color: #6c757d; /* Default grey color */
  border-color: #6c757d; /* Default grey */
}

.btn-secondary:hover {
  background-color: #8C7569; /* Muted Brown */
  border-color: #8C7569; /* Muted Brown */
}

.text-muted {
  font-size: 18px;
  color: #6c757d; /* Muted grey */
}

/* Spinner for loading */
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #232606; /* Deep Green */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Profile Initials */
.profile-initials {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #232606; /* Deep Green */
  color: #FFFFFF; /* White Text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

/* Card Image Top for profile section */
.card-img-top {
  background-color: #2596be; /* Placeholder for profile image background (use for image or initials) */
  color: #ffffff; /* Text color for initials */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-size: 40px;
  font-weight: bold;
}

/* Keyframe for spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
