/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

.register-container {
    max-width: 400px;
    min-height: 600px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.register-heading {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 1.3px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.register-label {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.register-input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.register-radio-group {
    margin-bottom: 20px;
}

.register-radio-group label {
    font-size: 1rem;
    color: #666;
    margin-right: 15px;
}

.register-button {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.register-button:hover {
    background-color: #039BE5;
}

.register-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #0383bf;
    margin-top: 15px;
    display: inline-block;
}

.register-link:hover {
    color: #039B;
}

@media (max-width: 380px) {
    .register-container {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
